{% extends "base.html" %}
{% load static %}

{% block css_files%}
  <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
  <link rel="stylesheet" href="{% static 'challenges/includes/headers.css' %}">
{% endblock %}

{% block page_title %}
    {{month_name|title}} challenge
{% endblock %}

{% block content %}
   {% include "challenges/include/header.html "%}
    <h1>{{month_name|title }} challenge</h1> 
    {% if text is not None %}
      <h2>{{text}}</h2>
    {% else %}
      <p1>There is no challenge for this month yet!</p1>
    {% endif %}
{% endblock %}